[submodule "submodules/rust-mode"]
	path = submodules/rust-mode
	url = https://github.com/toshok/rust-mode.git
[submodule "submodules/lua-mode"]
	path = submodules/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "submodules/php-mode"]
	path = submodules/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule "submodules/jam-mode"]
	path = submodules/jam-mode
	url = https://github.com/emacsmirror/jam-mode.git
[submodule "submodules/Fill-Column-Indicator"]
	path = submodules/Fill-Column-Indicator
	url = https://github.com/alpaker/Fill-Column-Indicator.git
[submodule "submodules/xcscope"]
	path = submodules/xcscope
	url = git@github.com:dkogan/xcscope.el.git
